fastapi==0.110.3
pydantic==2.7.1
pytube==15.0.0
pydub==0.25.1
simpleaudio==1.0.4
google-api-python-client==2.130.0
python-dotenv==1.0.1
pdfplumber==0.5.28
langchain==0.2.6
langchain-openai==0.1.11
langchain-community==0.2.6
pandas==2.2.2
chromadb==0.5.3
uvicorn[standard]==0.20.0
sqlalchemy==2.0.3
pymysql==1.0.2
aiomysql==0.1.1
pytest-asyncio==0.20.3
aiosqlite==0.18.0
httpx>=0.27.0